<div class="timer">
  <div class="category category-enabled">
    <div class="category-actions">
      <a href="#">Pause</a>
      <a href="#">Save</a>
    </div>
    <div class="category-name">Feature Development</div>
    <div class="description">
      <textarea name="description"></textarea>
    </div>
    <div class="tags">
      <input type="text" name="tags" value="" placeholder="">
    </div>
  </div>

  <div class="category">
    <div class="category-actions">
      <a href="#">Start</a>
    </div>
    <div class="category-name">Team Support</div>
  </div>
</div>