<div class="timer">
  <div class="overview">
    <div class="overview-status">Running</div>
    <div class="overview-counter">01:23</div>
    <div class="overview-category">Feature Development</div>
  </div>
  <div class="categories">
    <div class="category enabled">
      <div class="category-actions">
        <a href="#">Pause</a>
        <a href="#">Save</a>
      </div>
      <div class="category-name">Feature Development</div>
      <div class="category-description">
        <textarea name="description"></textarea>
      </div>
      <div class="category-tags">
        <input type="text" name="tags" value="" placeholder="">
      </div>
    </div>

    <div class="category">
      <div class="category-actions">
        <a href="#">Start</a>
      </div>
      <div class="category-name">Team Support</div>
    </div>
  </div>
</div>