<nav class="top-bar" data-topbar data-options="sticky_on: large">
  <ul class="title-area">
    {{#link-to 'index' tagName='li' href=false class='name'}}<a {{bind-attr href="view.href"}} href="javascript:;">Mia</a>{{/link-to}}
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      {{#link-to 'about' tagName='li' href=false}}<a {{bind-attr href="view.href"}} href="javascript:;">About</a>{{/link-to}}
    </ul>
  </div>
</nav>
<div id="content">
  {{outlet}}
</div>