<h1>Time Logs</h1>
<table>
  <thead>
    <tr>
      <th>Minutes</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#each}}
    <tr>
      <td>{{rounded_minutes}}</td>
      <td><span class="label">{{category.title}}</span></td>
      <td>{{description}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>