/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'foundation_and_overrides';

.content-container {
  @include grid-row();
  .content {
    @include grid-column(12);
  }
}

.row.display {
  background: #eee;
  border: solid 1px #c6c6c6;
  .columns {
    border: solid 1px #aaa;
    background: #e1e1e1;
  }
}

.timer {
  .overview {
    text-align: center;
    padding: 20px 10px;
    .overview-status {
    }
    .overview-counter {
      @extend h1
    }
    .overview-category {
    }
  }

  .categories {
    @include grid-column(12);
    .category {
      .category-actions {
        padding: 5px 0;
      }
      .category-name {
        padding: 5px 0;
      }
      .category-description {
      }
      .category-tags {
      }
    }
    .category.enabled {
    }
  }
}
