.timer {
  .overview {
    text-align: center;
    padding: 20px 10px;
    .overview-status {
    }
    .overview-counter {
      @extend h1
    }
    .overview-category {
    }
  }

  .categories {
    .category {
      .category-actions {
        padding: 5px 0;
      }
      .category-name {
        padding: 5px 0;
      }
      .category-description {
      }
      .category-tags {
      }
    }
    .category.enabled {
    }
  }
}